:root {
	--font-family: 'Geist Mono', monospace;
	--second-family: 'Tilt Warp', sans-serif;
	--text-color: #d6f1ca;
	--button: #138561;
}

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

ul {
	list-style-type: none;
}

body {
	font-family: var(--font-family);
	font-size: 20px;
	font-weight: 600;
	line-height: 1.2;
	color: var(--text-color);
}

button {
	background-color: transparent;
	padding: 0;
	border: 0;
	color: inherit;
	cursor: pointer;
}

.container {
	max-width: 1740px;
	padding-inline: 10px;
	margin: 0 auto;
}

/* === Header 1920*136px === */
.header {
	background-color: #191919;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-block: 50px;
}

.menu__list {
	display: flex;
	gap: 5px;
}

.menu__link {
	display: inline-block;
	padding: 10px;
	font-size: 16px;
	line-height: 1;
	text-transform: uppercase;
	background-color: rgba(255, 255, 255, 0.1);
}

/* === Section Hero 1920*960px === */
.top {
	background-image: url('../images/top-bg.jpg');
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
}

.top__inner {
	display: flex;
	padding: 50px 0;
	flex-direction: column;
	justify-content: center;
	max-width: 896px;
	min-height: calc(100vh - 136px);
}

.top__pretext {
	font-size: 16px;
	line-height: 1;
	margin-bottom: 40px;
}

.top-title {
	font-family: var(--second-family);
	font-size: 150px;
	font-weight: 400;
	line-height: 160px;
	letter-spacing: -6px;
	text-transform: uppercase;
	margin-bottom: 40px;
}

.top__text {
	margin-bottom: 40px;
	max-width: 495px;
}

.top__btn {
	max-width: 608px;
	padding-block: 20px;
	font-size: 16px;
	font-weight: 600;
	line-height: 1;
	background-color: var(--button);
}

/* === Section Event 1920*1135px === */
.event {
	padding-top: 100px;
	background-color: #191919;
}

.event__title {
	font-family: var(--second-family);
	max-width: 1130px;
	font-size: 100px;
	font-weight: 400;
	line-height: 89px;
	letter-spacing: -5px;
	text-transform: uppercase;
	text-align: center;
	padding-inline: 10px;
	margin: 0 auto 40px;
}

.event__text {
	max-width: 694px;
	text-align: center;
	padding: 0 10px 40px;
	margin: 0 auto;
	text-align: center;
}

.event__list {
	padding: 420px 0 145px;
	background-image: url('../images/event-bg.jpg');
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
}

.event__list-inner {
	max-width: 1429px;
	display: flex;
	justify-content: space-between;
	gap: 20px;
}

.event__list-item {
	padding-left: 20px;
	border-left: 1px solid rgba(214, 241, 202, 0.2);
	display: flex;
	flex-direction: column;
	gap: 52px;
}

.event__list-item dd {
	font-family: var(--second-family);
	font-size: 150px;
	font-weight: 400;
	letter-spacing: -6px;
	text-transform: uppercase;
}

/* === Section Players 1720*664px === */
.players {
	padding-block: 100px;
	background-color: #191919;
}

.players__title {
	font-family: var(--second-family);
	font-weight: 400;
	font-size: 100px;
	line-height: 89px;
	letter-spacing: -5px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 40px;
}

.players__list {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	padding-top: 140px;
}

.players__item {
	position: relative;
	height: 415px;
	width: 100%;
	padding: 10px;
	backdrop-filter: blur(50px);
	background: rgba(255, 255, 255, 0.1);
}

.players__img {
	position: absolute;
	right: 0;
	bottom: 60px;
	left: 0;
	margin: 0 auto;
}

.players__item-box {
	position: absolute;
	right: 20px;
	bottom: 24px;
	left: 20px;
	padding-block: 24px;
	padding-inline: 20px;
	background-color: #fff;
}

.players__item-name {
	font-family: var(--second-family);
	font-weight: 400;
	font-size: 36px;
	line-height: 30px;
	letter-spacing: -1px;
	margin-bottom: 10px;
	color: #191919;
}

.players__item-descr {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 18px;
	line-height: 1.2;
	color: rgba(25, 25, 25, 0.43);
}

/* === Section Atmosphere 1920*960px === */
.atmosphere {
	background-image: url('../images/atmosphere-bg.jpg');
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
}

.atmosphere__inner {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	padding-top: 40px;
	padding-bottom: 114px;
}

.atmosphere__box {
	max-width: 968px;
	padding-block: 20px;
	padding-inline: 44px;
	border-radius: 20px;
	text-align: center;
	margin: 0 auto auto;
	background: rgba(11, 13, 19, 0.3);
	backdrop-filter: blur(12px);
}

.atmosphere__title {
	font-family: var(--second-family);
	font-weight: 400;
	font-size: 100px;
	line-height: 89px;
	letter-spacing: -5px;
	text-transform: uppercase;
	margin-bottom: 40px;
	color: var(--text-color);
}

.atmosphere__list {
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
	font-size: 16px;
	border-top: 1px solid rgba(214, 241, 202, 0.2);
}

/* === Section Matches 1920*960px === */
.matches {
	background-image: url('../images/matches-bg.jpg');
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 237px 0;
	text-align: center;
}

.matches__title {
	font-family: var(--second-family);
	max-width: 785px;
	font-weight: 400;
	font-size: 100px;
	line-height: 89px;
	letter-spacing: -5px;
	text-transform: uppercase;
	margin: 0 auto 40px;
}

.matches__text {
	max-width: 577px;
	margin: 0 auto 40px;
}

.matches__btn {
	display: inline-block;
	padding: 20px 15px;
	background-color: var(--button);
}

/* === Footer 1920*189px === */
.footer{
	padding: 40px 0 79px;
	background-color: #191919;
}

.footer__top{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 13px;
}

.footer__copy {
	font-size: 13px;
	line-height: 21px;
	color: rgba(214, 241, 202, 0.7);
}
